body {
  background-color: #16241e;
  color: #aaaaaa;
  font-size: 1.6rem;
}

.header {
  text-align: right;
  color: #eeeeee;
}

.footer {
  margin-top: 5%;
  font-size: 1.3rem;
}

h3, h4{
  margin-top: 5%;
  margin-bottom: 1%;
  color: #eeeeee;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 1.8rem;
}

li {
  margin-bottom: 0.5rem;
}

ul ul {
  margin-top: 0;
  color: #888888;
}

a {
  text-decoration: none;
  color: #b6d7a8;
}

a:visited {
    color: #93c47d;
}

a:hover {
    color: #eeeeee;
}

.button.button-primary {
  color: #434343;
  background-color: #b6d7a8;
  border-color: #434343; 
  padding: 0 20px;
  font-size: 1.6rem;
  text-transform: none;
  font-weight: 400;
}

.button.button-primary:hover,
.button.button-primary:focus {
  color: #434343;
  background-color: #eeeeee;
  border-color: #434343; 
}

.portfolio-item {
  margin-bottom: 5%;
}

video, img {
  width: 100%    !important;
  height: auto   !important;
  border: 1px solid #000000;
}
